# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================

venv/
env/
.venv/
ENV/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# IDE / Editor
# ==============================

.vscode/
.idea/

# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Python Packaging
# ==============================

*.egg-info/
dist/
build/
.eggs/

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Testing / Coverage
# ==============================

.pytest_cache/
.coverage
htmlcov/

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp
*.swp
*.swo

# ==============================
# Local Secrets
# ==============================

.env
*.env

# ==============================
# Streamlit
# ==============================

.streamlit/secrets.toml
